/*Shared Section*/
*{
    font-family: 'Work Sans', sans-serif;
}


/* Nav section Start. */
.nav-container{
    

    display: flex;
    justify-content: space-evenly;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    list-style: none;
   
   
    
}
.about li,.nav-social-link li{
    list-style: none;
}
.about li a, .nav-social-link li a{
    text-decoration: none;

}

/* Logo Container Start. */
.logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo-img{
    width: 86.041px;
    height: 40px;
}
.nav-logo-imag-name{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 700;

}
.g{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Logo Container End. */

/* About Section Start. */
.nav-content-section{
    display: flex;
    gap: 32px;
}

.about ul {
    display: flex;
    gap: 32px;
}

.about li a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
/* About Section End. */

/* Nav Social Link Start. */
.nav-social-link ul {
    display: flex;
    gap: 10px;
}
.nav-social-link{
    width: 262px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-social-link .nav-link{
color: #3C354F;
text-align: center;
font-size: 1.1rem;
font-weight: 500;
}
/* Nav Social Link End. */

/* Nav Section End. */

/* Banner Section Start. */
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.banner-content{
    margin-left: 125px;
}
.banner-title1{
   margin: 0 ;
  
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}
.banner-title2{
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content p{
    color: #4c6455;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    
}
.banner-btn1{

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
}
.banner-btn2{

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}
.banner-img{
    margin-right: 120px;
}

.banner-img img{
    width:550px;
}

/* Banner Section End. */

/*Section 01 We are gamer Start. */

.we-are-gamer{
        display: flex;
        justify-content: space-evenly;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }
.we-are-gamer-img{
    padding-top: 55px;
    padding-left: 100px;
    padding-right: 52px;
    padding-bottom: 56px;
    width:550px;
}


.we-are-gamer-title{
    padding-top: 0px ;
    padding-bottom: 0px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-pur{
    margin-top: -50px;
}
.we-are-gamer-description{
    margin-top: -50px;
    padding-bottom: 0px;
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}
.we-are-gamer-btn{

    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    align-items: right;
}
.we-are-gamer-content{
    padding-right: 180px;

}
.our{
   
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;

}
.our-pur-des{

    margin-top: -40px;
    text-align: right;
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;

}

/*Section 01 We are gamer End. */

/*Section 02 Online Games Funny Videos Start. */
.online-games-content{
    text-align: center;

}

.online-games-title{
    margin-top: 120px;
    margin-bottom: 16px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
.video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;

}
.online-games-des{
    text-align: center;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.online-games-card-container{

    display: flex;
    gap: 24px;
    padding-top: 48px;
    padding-left: 120px;
   
}
.card-img{
width: 250px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}
.card-img-des{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;

}
/*Section 02 Online Games Funny Videos End. */

/* Section 03 Play Instantly Start */

.play-instantle-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.play-instantle-content-title{
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-instantle-content-des{
color: #534C64;
font-size: 1.1rem;
font-weight: 400;
}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantle-img-container{
    margin-top: 100px;
    margin-bottom: 40px;

}
.play-instantle-img1{
    
    width: 450px;
    height: 450px;
    border-radius: 8px;

}
.play-instantle-img2 img{
    margin-top: -180px;
    margin-left: -100px;
    width: 220px;
    height: 250px;
    border-radius: 8px;
}

/* Section 03 Play Instantly End */

/* Section 04 Play Games Start*/

.play-games-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5px;
    
}


.play-games-content-title{
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-games-content-des{
color: #534C64;
font-size: 1.1rem;
font-weight: 400;
}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-img-container{
    margin-top: 100px;
    margin-bottom: 40px;

}
.play-games-img1{
width: 450px;
height: 450px;
border-radius: 8px;

}
.play-games-img2 img{
    margin-top: -120px;
    padding-left: 350px;
    width: 180px;
    height: 180px;
    border-radius: 8px;

}

/* Section 04 Play Games End*/


/* Section 05 Careers Start */
.careers-container{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);


}
.careers-content{
    margin-top: 100px;
    margin-left: 130px;


}
.careers-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;

}
.careers-des{
    color: #FFF;
    font-size: 1.1rcap;
    font-weight: 400;

}
.careers-list-container{
    display: flex;
    justify-content: space-evenly;

    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;

}
.careers-btn{
    padding: 21px 40px;
    border-radius: 48px;
    background: #ffffff;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    margin-bottom: 100px;
}
.careers-img-container .careers-img{
    width: 350px;
    height: 350px;
    fill: rgba(223, 19, 19, 0.1);
    padding: 200px 130px 150px 108px;
}
/* Section 05 Careers End*/

/* Section 06 Games Container Start.*/
    
    .five-games-flex{
        display: flex;
        gap: 5px;
        margin: 120px 120px 10px 120px;
        padding-left: 20px;
    }
    

    .icon-container{
        display: flex;
        width: 243px;
        align-items: center;
        border-radius: 50px;
    }
    .icon-container:hover{
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 2px solid rgb(240, 57, 169);
    }

    .icon-img{
        width: 30px;
        height: 30px;
        padding: 10px 16px 10px 10px;
        
    }
    .icon-name{
        color: #0B0223;
        font-size: 0.72rem;
        font-weight: 600;
        padding: 0px 20px 0px 0;
        
    }

    .four-games-flex{
        display: flex;
        gap: 5px;
        margin: 15px 165px 120px 200px;
    }


/* Section 06 Games Container End.*/

/* Footer Section Start. */



/* Footer Section Start. */



/* Mobile Responsive */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-content-section,
    .banner-container,
    .we-are-gamer,
    .about,
    .online-games-card-container,
    .play-instantle-container,
    .play-games-container
    {
        flex-direction: column;
    }
    .banner-img img{
        width:350px;
    }
    .banner-img{
        padding-top: 50px;
        padding-left: 100px;
    } 

    .banner-content{
        padding-top: 30px;
        width: 409;
       margin: 0 auto;
    }
    .we-are-gamer-img{
        padding-top: 70px;
        width:400px;
        padding-left: 2px;
        padding-right:0px;
        margin-right: 0;
    }
     
    .we-are-gamer-content{
        padding-right:0px;
        margin-right: 0;

    }
    .we-are-gamer{
        text-align: center;

    }
    .we-are-gamer-title{
        text-align:center ;
    }
    .we-are-gamer-description{
        text-align:center ;
    }
    .our{
        padding-top: 30px;
        text-align: center;
    }
    .our-pur-des{
        text-align: center;
    }
    .online-games-card-container{

        padding-top: 48px;
        padding-left: 90px;
    }
    .play-games-img1{
       
        width: 270px;
        height: 270px;
        border-radius: 8px;
    }
    .play-games-img2 img{
        margin-top: -70px;
        padding-left: 205px;
        width: 120px;
        height: 120px;
        border-radius: 8px;
    
    }

    .play-instantle-img1{
        margin-right: -60px;
        width: 270px;
        height: 270px;
        border-radius: 8px;
    }
    .play-instantle-img2 img{
        margin-top: -80px;
        margin-left: -50px;
        width: 120px;
        height: 150px;
        border-radius: 8px;
    }
   
}


/*Teblet and Medium Responsive devices*/
@media screen and (min-width:576px) and (max-width:992px){
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        width: 409;
       margin: 0 auto;
    }
    .banner-img{
        padding-left: 100px;
    } 
}
